body{
  margin-top: 25%;
}
a{
  padding: 20px;
}
.vertical-menu {
  width: 30%;
  height: 50%;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}
